{% block content %}
    {% if request.user.is_authenticated %}
        <table border="3">
        <tr><th>Quiz</th><th>Result</th></tr>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.title }}</td>
                <td>{% if quiz.result_id %}
                        <a href="{% url 'result' quiz.result_id %}">View result</a>
                    {% else %}
                        <a href="{% url 'quiz' quiz.id %}">Solve it!</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        Need <a href="{% url 'login' %}">authorization</a> or <a href="{% url 'registration' %}">registration</a>.
    {% endif %}
{% endblock %}